/*
Project: Parkii
Version: Work in Progress - 0.1
Author, front-end: Chris Drayton
Author, design: Chris Drayton
Last edited: 05/21/2018

Description: 
**1. Html5doctor.com Reset Stylesheet + HTML5 Normalization 
**2. Less Rules
**3. Project Stylesheet 
*/

/* **1. Html5doctor.com Reset Stylesheet + HTML5 Normalization  */
//@import "reset.css";


/* -------------------------------------
//	LESS PreCSSProcessor
////////////////////////////////////////
------------------------------------- */
@import "elements.less"; /* LESS Elements */
@import "grid.less"; /* Grid rules */
@import "main_colors.less"; /* Main colors and neutrals */
@import "fonts.less"; /* Fonts and typography style */
@import "anim.less"; /* Animations */

/* -------------------------------------
//	CSS
////////////////////////////////////////
------------------------------------- */
/* Typography 
------------------------------------- */

	h1, h2, h3, h4, h5, h6, nav ul li{
		font-weight: normal;
	    font-style: normal;
	    font-family: "base-mono-narrow", monospace;
	}
	
	h1{
		display: inline-block;
		position : relative;
		padding: @gg;
		text-transform: uppercase;
		text-align: center;
		.h1;
	}
	
	h2{
		display: inline-block;
		position : relative;
		padding: @gg;
		text-transform: uppercase;
		text-align: center;
		.h2;
	}
	
	h3{
		display: inline-block;
		position : relative;
		width: 100%;
		padding-bottom: @gg;
		text-align: center;
		text-transform: uppercase;
		.h3;
	}
	
	h4{
		display: inline-block;
		position : relative;
		width: 100%;
		.h4;
	}
	
	h5{
		display: inline-block;
		position : relative;
		width: 100%;
		.h5;
	}
	
	h6{
		display: inline-block;
		position : relative;
		width: 100%;
		.h5;
	}
	
	p{
		text-align: center;
		min-width: 25ch;
		max-width: 55ch;
		.p;
		
		strong{
			font-weight: bold;
			font-style: normal;
		}
	}
	
	ul {
		margin: 0;
		padding: 0;
		.p;
		
		li {
			margin: 0;
			padding: 0;
			list-style-type: none;
			.p;
		}
	}

/* -------------------------------------
	Base
------------------------------------- */
	html { 
		position: relative;
		font-size: 62.5%; /* As browser default size is 16px, we scale down to 10px to simplify relatives sizes use (10px = 1rem, 12px = 1.2rem, 14px = 1.4rem, etc) */
		color: @black;
		overflow-x: hidden;
		
		&.lock{
			overflow: hidden;
		}
	}
	
	body {
		font-family: Helvetica, Arial, sans-serif;
		border-top: @gg @violet solid;
	}
	
	.wrapper {
		position: relative;
		margin: 0 auto;
		width: @wrapper_px;
	}
	
	.container{
		width: (@gc * 9) + (@gg * 8);
		margin: 0 auto;
	}
	
	/* Supprime les cadres focus de Firefox */
	a { 
		/* outline: none; border: none; text-decoration: none;  */
		text-decoration: none;
		
		/* .tr_out;
	    &:hover { 
	        .tr_in;
	    } */
	}
	
	:focus{-moz-outline-style: none;}
	
	img {
		margin: 0;
	}

/* -------------------------------------
	Same elements
------------------------------------- */

.none { // For development purpose
	display: none !important;
}

.noverflow{
	overflow: hidden;
}

.op{
	.op(0);
}

.toreveal{
	.op(0);
}

/* -------------------------------------
	Home
------------------------------------- */
html{
	
	body{	
	}

}

/* -------------------------------------
	SVG
------------------------------------- */
svg:not(#idname){
}

/* -------------------------------------
	Header & Footer
------------------------------------- */
header{
	display: flex;
	width: 100%;
	height: (@gc * 2);
	padding: @gg 0;
	align-items: center;
	justify-content: space-between;
	
	nav{
		
		ul{
			display: inline-flex;
			flex-direction: row;
			justify-content: space-between;
			
			li{
				margin-right: @gg;
				position: relative;
				padding: 1.5vh 0.5vw;
				text-transform: uppercase;
				font-weight: bold;
				.h4;
				overflow: hidden;
				
				&:last-of-type{
					margin: 0;
				}
				
				&:after{
					position: absolute;
					content: "";
					width: 100%;
					height: 4px;
					bottom: 0;
					left: 0;
					transform: translateX(-100%);
				}
				
				&:hover{
					&:after{
						background-color: @violet;
					}
				}
				
				&.current-menu-item{ 
					
					a{
						color: @pink;
					}
					
					&:after{
						transform: translateX(0);
						background-color: @pink;
					}
				}
					
				a{
					color: @violet;
				}
			}
		}
	}

	a.logo{
		width: (@gc * 2) + (@gg * 2);
	}
	
	&.sticky{
		display: flex;
		//align-items: center;
		position: fixed;
		top: 0px;
		height: (@gc + @gg);
		padding: 2vh 0;
		.z(9);
		
		a{
			&.logo{
				//margin-top: -45px;
				//margin-top: 125px;
				//top: 25%;
				//transform: translateY(12%);
				top: -105px;
				
				g#seal, g#brand{
					fill-opacity: 0;
				}
			}
		}
	}
	
}

footer{
	width: 100vw;
	display: flex;
	align-items: center;
	
	ul{
		display: flex;
		flex-direction: row;
		
		li{
			a{
				color: white;
			}
		}
	}
}

footer{
	height: (@gc + @gg);
	padding: 0 5vw;
	background: @black;
	justify-content: space-between;
	.box-model;
	
	p, li, li a, a:visited{
		color: white;
		font-size: 1.45rem;
	}
	
	ul{
		li{
			display: block;
			padding: 0 (@gg * .5);
			border-right: 1px solid white;
			
			&:last-of-type{
				border-right: none;
			}
			
			&.current{
				color: @pink;
			}
		}
	}
}
/* -------------------------------------
	Section - General styles
------------------------------------- */
section {
	position: relative;
	width: 100%;
	margin: 5vh 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.z(6);
}

/* -------------------------------------
	Section - Details
------------------------------------- */
section{
	&#intro{
		background: url("http://parkiishop.com/siteview/wp-content/uploads/2018/04/shea-bucket.jpg");
		.bkg(cover);
		
		h1, p{
			color: @white;
		}
		
		h1{
			padding: 3vw;
			width: 11ch;
			align-self: flex-start;
			text-align: left;
			text-shadow: 3px -3px 5px rgba(0,0,0,0.3);
		}
		
		p{
			padding: 2vh 5vw;
			background-color: fade(@w50, 65%);
			width: 100%;
			max-width: none;
			.box-model;
			.h4;
		}
	}
	
}

/* -------------------------------------
	Blog - Details
------------------------------------- */


/* -------------------------------------
	Media Queries 
------------------------------------- */
@import "mediaqueries.less"; /* Mediaqueries */
/*@import "modernizr"; /* CSS Fallbacks */